@import '../../styles/consts.scss';

.box{
    max-width :1600px;
    position: fixed;
    top : 50%;
    width : inherit;
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    @include button-style;
}
.image{
    @include image-style;
}