@import './consts.scss';

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif; 
  background: $bg-color;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
