@import '../../styles/consts.scss';

.home{
    position: relative;
}
.list{
    position: relative;
}
.loading{
    margin-top: $padding;
    text-align: center;
}
.headerControll{
    display: flex;
    flex-direction: row;
    padding: $padding;
}
.refetch{
    background: inherit;
    font-size: x-large;
    border : none;
    outline: none;
    width :40;
    height: 40;
    cursor: pointer;
    transition: 2s;
    padding : 0;
    border-radius: 50%;
    &:hover{
        color : $layout-color;
    }
    
}
